#jumbotron {
  background: url(./img/background.svg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
  clear: both;
}

#bio {
  margin: 1rem;
}

#gallery {
  border: solid 1px black;
  clear: both;
}

#gallery > * {
  padding: 0.5rem;
}

#gallery img {
  display: block;
  height: auto;
  width: 92.5%;
  margin: auto;
}

.blog-post {
  margin: 1rem 4rem;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio .wrap {
    margin-top: 90px;
  }
  #bio {
    background: url("img/Bio.svg");
    background-size: cover;
  }
  #bio .clear {
    clear: both;
  }
  #bio .wrap {
    background-color: rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    width: 70%;
  }
  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*body*/
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
/*end body*/

@media (min-width: 550px) {
  #nav {
    background: blue;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
  }

  #nav .nav-menu {
    justify-content: space-between;
  }

  #nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
  }

  #nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
  }

  #nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
  }

  .collapse {
    height: 30rem;
  }

  #nav .nav-bar {
    display: flex;
    margin: 0;
  }

  #nav .nav-bar li {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
  }

  #nav .nav-bar li:hover {
    background-color: var(--midnight);
  }

  #nav .nav-bar li:hover a {
    color: var(--white);
  }

  #nav .brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
  }

  /* -------x------- navbar ---------x------- */
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    background-color: white;
  }
}
